<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Camera</title>
    <link rel="stylesheet" href="/css/test.css" />
    <link rel="stylesheet" href="/css/partial/timer.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
      body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    <!--뒤로가기 버튼-->
    <button onclick="goBack()" class="btBack">
      <img class="btn-img" src="/icons/left-arrow.png" />
    </button>
    <script>
      function goBack() {
        history.back(-1);
      }
    </script>

    <!--설명-->
    <h4>타이머를 설정한 후, 촬영버튼을 눌러 촬영을 시작해주세요.</h4>
    <video autoplay></video>

    <button type="button" id="imgButton">
      <img class="btn-img" src="/icons/photo-camera.png" />
    </button>

    <div class="center">
      <select
        name="timer"
        id="timer"
        class="custom-select sources"
        placeholder="3초"
      >
        <option value="2">2초</option>
        <option value="3" selected>3초</option>
        <option value="4">4초</option>
        <option value="5">5초</option>
      </select>
    </div>
    <!----->
    <div id="snapshots"></div>
    <canvas width="400" height="300" style="display:none;"></canvas>
    <script src="/javascript/testImage.js"></script>

    <script>
      $(".custom-select").each(function() {
        var classes = $(this).attr("class"),
          id = $(this).attr("id"),
          name = $(this).attr("name");
        var template = '<div class="' + classes + '">';
        template +=
          '<span class="custom-select-trigger">' +
          $(this).attr("placeholder") +
          "</span>";
        template += '<div class="custom-options">';
        $(this)
          .find("option")
          .each(function() {
            template +=
              '<span class="custom-option ' +
              $(this).attr("class") +
              '" data-value="' +
              $(this).attr("value") +
              '">' +
              $(this).html() +
              "</span>";
          });
        template += "</div></div>";

        $(this).wrap('<div class="custom-select-wrapper"></div>');
        $(this).hide();
        $(this).after(template);
      });
      $(".custom-option:first-of-type").hover(
        function() {
          $(this)
            .parents(".custom-options")
            .addClass("option-hover");
        },
        function() {
          $(this)
            .parents(".custom-options")
            .removeClass("option-hover");
        }
      );
      $(".custom-select-trigger").on("click", function() {
        $("html").one("click", function() {
          $(".custom-select").removeClass("opened");
        });
        $(this)
          .parents(".custom-select")
          .toggleClass("opened");
        event.stopPropagation();
      });
      $(".custom-option").on("click", function() {
        $(this)
          .parents(".custom-select-wrapper")
          .find("select")
          .val($(this).data("value"));
        $(this)
          .parents(".custom-options")
          .find(".custom-option")
          .removeClass("selection");
        $(this).addClass("selection");
        $(this)
          .parents(".custom-select")
          .removeClass("opened");
        $(this)
          .parents(".custom-select")
          .find(".custom-select-trigger")
          .text($(this).text());
      });
    </script>
    <script>

      <%if(confirm==false){%>
        swal("이미지 인식을 하지 못하였습니다!");
        <%}%>
    </script>
  </body>
</html>
