<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/uploadTag.css" />
    <title>upload Tag</title>
  </head>
  <body>

    <h4> RFID 태그를 리더기에 찍고, 태그 번호가 나오면 사진확정을 눌러주세요. </h4>
  
    <img id="image" src="<%=data%>" />
    <img src="icons/tag1.png" id="tagIcon">
    <div id="TagNumber">1234567891011</div>

    <script>
      function goBack() {
        window.location.href = "/test";
      }
    </script>

    <button onclick="goBack()" class="btBack" id="cancelButton">다시찍기</button>
    <button id="saveDBbutton">사진확정</button>
    <script src="/javascript/uploadTag.js"></script>
  </body>
</html>
