<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/uploadTag.css" />
    <title>upload Tag</title>
  </head>
  <body>
    <img id="image" src="<%=data%>" />
    <div id="TagNumber">number</div>

    <button id="saveDBbutton">저장하기</button>
    <script src="/javascript/uploadTag.js"></script>
  </body>
</html>
