@import url("https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Sans+KR|Noto+Serif+KR&display=swap");

body {
  width: 1200px;
  height: 1920px;
  background: black;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}
#calendar {
  position: absolute;
  top: 50px;
  left: 25px;
  border: 1px solid #bdbdbd;
  text-align: center;
  padding-left: 10px;
  width: 1000px;
  height: auto;
}

#calendar td {
  height: 100px;
}
#yearmonth {
  font-size: 40px;
  font-family: "Noto Sans KR", sans-serif;
}
#before,
#next {
  cursor: pointer;
  text-align: center;
  font-size: 35px;
  color: rgb(73, 230, 0);
}
/*몇요일*/
.yj_day {
  font-size: 30px;
  font-weight: bold;
}

/*몇일*/
.dateNum {
  font-size: 30px;
  padding-left: 5px;
  vertical-align: top;
  width: 200px;
  padding: 2px;
}

/*모달창 css*/
#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
  height: 500px;
  background: rgba(131, 255, 48, 0.904);
  font-size: 25px;
  display: none;
  cursor: move;
  z-index: 1;
}

#modal h2 {
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

button {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
#modal_add_btn {
  position: absolute;
  top: 250px;
  left: 20px;
}
#modal_delete_btn {
  position: absolute;
  top: 250px;
  left: 100px;
}
#modal_close_btn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 20px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 2px ridge;
  border-radius: 50%;
  background-color: rgb(0, 170, 14);
  color: white;
}
#modal_close_btn:hover {
  border: 2px outset;
  background-color: rgb(224, 255, 223);
  color: rgb(142, 206, 69);
}

#modal .modal_content {
  margin: 100px auto;
  padding: 30px 10px;
}

#modal .modal_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/*년 월 일 */
#dayNum {
  position: absolute;
  top: 80px;
  left: 20px;
  font-size: 40px;
  color: black;
}

/*키보드 입력창 & 입력내용*/
#title01 {
  font-size: 30px;
  height: 40px;
}

/*키보드 아이콘*/
.keyboardInputInitiator {
  position: absolute;
  top: 163px;
  right: 100px;
  width: 90px;
  height: 40px;
  margin-left: 3px;
  vertical-align: middle;
  cursor: pointer;
}

/* 키보드 텍스트 입력상자*/
.keyboardInput {
  position: absolute;
  top: 160px;
  left: 25px;
}

#keyboardInputInitiator0 {
  width: 250px;
  height: 40px;
  font-size: 30px;
}

#keyboardInputMaster {
  position: absolute;
  border: 2px groove #949494;
  color: #ffffff;
  background-color: #333333;
  text-align: left;
  z-index: 1000000;
  width: 1000px;
  height: 250px;
}
/* 키보드 밖 언어설정부분*/
#keyboardInputMaster thead tr th {
  height: 50px;
  text-align: left;
  padding: 2px 5px 2px 4px;
  background-color: inherit;
  border: 0px none;
}
/* 언어선택 부분*/
#keyboardInputMaster thead tr th select,
#keyboardInputMaster thead tr th label {
  width: 100px;
  height: 50px;
  color: #7700ff;
  font: bold 20px Arial, sans-serif;
  padding: 10px;
}

/*clear,X 버튼 부분*/
#keyboardInputMaster thead tr td {
  text-align: right;
  padding: 2px 4px 2px 5px;
  background-color: inherit;
  border: 0px none;
}
/*clear,X 버튼*/
#keyboardInputMaster thead tr td span {
  padding: 1px 4px;
  font: bold 25px Arial, sans-serif;
  border: 1px outset #aaaaaa;
  background-color: #505050;
  cursor: pointer;
}
#keyboardInputMaster thead tr td span.pressed {
  border: 1px inset #999999;
  background-color: #505050;
}
/*키보드 내부 테이블*/
#keyboardInputMaster tbody tr td {
  text-align: left;
  margin: 0px;
  padding: 0px 4px 3px 4px;
}
#keyboardInputMaster tbody tr td div {
  text-align: center;
  position: relative;
  height: 0px;
}
#keyboardInputMaster tbody tr td div#keyboardInputLayout {
  height: auto;
}
/* 키보드 스페이스바 제외 4줄*/
#keyboardInputMaster tbody tr td div#keyboardInputLayout table {
  height: 20px;
  white-space: nowrap;
  width: 1000px;
  border-collapse: separate;
}
/* 키보드 스페이스바*/
#keyboardInputMaster
  tbody
  tr
  td
  div#keyboardInputLayout
  table.keyboardInputCenter {
  width: 800px;
  margin: 0px auto;
}
/* 키보드 내부 문자 부분*/
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td {
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
  white-space: pre;
  font: normal 40px "Times New Roman", Times, serif;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #5d5d5d;
  border-bottom: 1px solid #5d5d5d;
  border-left: 1px solid #e5e5e5;
  background-color: rgb(129, 129, 129);
  height: 100px;
  cursor: copy;
}
#keyboardInputMaster
  tbody
  tr
  td
  div#keyboardInputLayout
  table
  tbody
  tr
  td.last {
  width: 15%;
}
#keyboardInputMaster
  tbody
  tr
  td
  div#keyboardInputLayout
  table
  tbody
  tr
  td.alive {
  background-color: rgba(214, 169, 255, 0.904);
}
#keyboardInputMaster
  tbody
  tr
  td
  div#keyboardInputLayout
  table
  tbody
  tr
  td.target {
  background-color: rgba(214, 169, 255, 0.904);
}
#keyboardInputMaster
  tbody
  tr
  td
  div#keyboardInputLayout
  table
  tbody
  tr
  td.hover {
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-left: 1px solid #d5d5d5;
  background-color: #504f4f;
}
#keyboardInputMaster
  tbody
  tr
  td
  div#keyboardInputLayout
  table
  tbody
  tr
  td.pressed,
#keyboardInputMaster
  tbody
  tr
  td
  div#keyboardInputLayout
  table
  tbody
  tr
  td.dead {
  border-top: 1px solid #555555;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #555555;
  background-color: #cccccc;
}
/*키보드 밑바닥 버전 안 보이게 설정함*/
#keyboardInputMaster tbody tr td div var {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font: bold italic 11px Arial, sans-serif;
  display: none;
}
