@import url("https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Sans+KR|Noto+Serif+KR&display=swap");
body {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 1080px;
  height: 1920px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

}
body::-webkit-scrollbar { 
  display: none; 
}


main {
  width: 80%;
  margin: 0 auto;
}

main p {
  line-height: 1.2;
}


/*슬라이딩메뉴*/
#hamburger { 
  display: none; 
}
#hamburger ~ * {
  position: absolute;
  color:#fff;
  transition: transform 0.4s;
}
#hamburger:checked ~ * { 
  transform: translate3d(200px, 0, 0); 
}
#hamburger ~ label {
  font-size: 100px;
  top: 10px; left: 50px;
  z-index: 1;
cursor: pointer;
}
#hamburger ~ nav {
  background: black;
  font-size: 25px;
  width: 230px;
  left: -220px;
  height: 100px;
}
#hamburger ~ nav * {
  margin: 0; padding: 0;
  color: white;
}
#hamburger ~ nav header {
  background: rgb(255, 145, 173);
  padding: 1em;
  padding-left: 50px;
  height: 30px;
}
#hamburger ~ nav a {
  height: 25px;
  display: block;
  text-decoration: none;
  padding: 1em;
  padding-left: 50px;
}
#hamburger ~ nav a:hover { 
  background: rgb(145, 145, 145);
 }

#mainContent {
  position: relative;
  padding: 2.6em 1em 1em;
  width: 100%;
}

  /* 기본 효과 */
  .gallery {
    display: grid;
    width: fit-content;
    height: fit-content;
    width: auto;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 300px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 12px;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.9;
  }
  
  div.description {
    text-align: center;
    font-size: 20px;
    padding: 5px;
  }

/* 마우스오버 효과 */

.gallery:hover {
  border: 2px solid rgb(253, 0, 0);
  opacity: 1;
}
.gallery:hover .description {
  font-weight: bold;
}
