@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Sans+KR|Noto+Serif+KR&display=swap');

body {
    position: absolute;
    width: 1200px;
    height: 1920px;
    background: black;
    color: white;
  }

  
/*뒤로가기버튼*/
.btBack {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 100px;
    background: none;
    color: #ffffff;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #ffffff;
    cursor: pointer;
  }
  .btBack:hover {
    color: #f16b6f;
    box-shadow: 3px 3px 3px 3px rgba(253, 59, 59, 0.404);
  }
  
  /*오늘의 추천DIV*/
  .todayCD{
    position: absolute;
    top: 100px; left: 380px;

    width: 250px; height: 500px;
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
      border: 3px dashed #ffffff;
      padding: 50px;
      text-align: center;
      box-shadow: 0px 0px 20px 10px rgba(102,186,255,0.4);
  }




.button_base {

    margin: 0;
    border: 0;
    font-size: 18px;

    margin-top: -25px;
    margin-left: -100px;
    width: 150px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.preserve-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}


/*3D버튼 */
.bt3D {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.bt3D div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bt3D div:nth-child(1) {
    color: #ffffff;
    background-color: #747474;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.bt3D div:nth-child(2) {
    color: #ffffff;
    background-color: #6b5696;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease 0.05s;
    -webkit-transition: all 0.2s ease 0.05s;
    -moz-transition: all 0.2s ease 0.05s;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.bt3D:hover div:nth-child(1) {
    color: #000000;
    background-color: #808080;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
}

.bt3D:hover div:nth-child(2) {
    color: #ffffff;
    transition: all 0.2s ease 0.05s;
    -webkit-transition: all 0.2s ease 0.05s;
    -moz-transition: all 0.2s ease 0.05s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}


#bt1{
    position: relative;
 top: 20px; left: 70px;

}

#bt2{
    position: relative;
 top: 5px; left: 235px;

}