body {
  background-color: black;
}
body::-webkit-scrollbar { 
  display: none; 
}

.mainContainer {
  margin-top: 100px;
  margin-left: 150px;
}
.mainInfo {
  margin-left: 150px;
  color: white;
}
.mainName {
  color: white;
}
