.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.kakaoImage {
  @import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Arapey|Black+Han+Sans|Cute+Font|DM+Serif+Display|Do+Hyeon|Gaegu|Gayathri|Gothic+A1|Indie+Flower|Jua|Merriweather|Nanum+Brush+Script|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Sans+KR|Noto+Serif+KR|Raleway+Dots|Shadows+Into+Light&display=swap");
  position: absolute;
  width: 1080px;
  height: 1920px;
  background: black;
  color: white;
  margin-top: 150px;
  padding-top: 20px;
}

body::-webkit-scrollbar {
  display: none;
}

/*뒤로가기버튼*/
.btBack {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 65px;
  background: none;
  border: 4px outset #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.btBack:hover {
  background: #b0c4eb;
  box-shadow: 3px 3px 3px 3px rgba(89, 89, 89, 0.63);
}
.btBack img {
  width: 70px;
  height: 70px;
}

h4 {
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 180px;
  font-family: "Gothic A1", sans-serif;
  font-size: 32px;
}

.wrapper {
  position: absolute;
  top: 150px;
  left: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper img {
  width: 400px;
  height: 300px;
  margin: 10px;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 2px 1px rgba(3, 60, 182, 0.692);

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.kakaoImage {
  display: block;
  margin: 0px auto;
}
.kakaoName {
  font-family: "Indie Flower", cursive;
  text-shadow: 4px 2px 2px grey;

  font-size: 40px;
}
