@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Arapey|Black+Han+Sans|Cute+Font|DM+Serif+Display|Do+Hyeon|Gaegu|Gayathri|Yeseva+One|Gothic+A1|Indie+Flower|Jua|Merriweather|Nanum+Brush+Script|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Sans+KR|Noto+Serif+KR|Raleway+Dots|Shadows+Into+Light&display=swap");

body {
  position: absolute;
  width: 1080px;
  height: 1920px;
  display: block;

  font-family: "Gothic A1", sans-serif;
  background-color: black;
}
body::-webkit-scrollbar {
  display: none;
}

#tit {
  position: absolute;
  top: 400px;
  left: 50px;
  font-family: "Gothic A1", sans-serif;
  font-size: 25px;
  color: white;
}

/*버튼*/
.trigger {
  position: absolute;
  top: 520px;
  left: 250px;
  box-shadow: 0px 0px 0px 2px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 10px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 30px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.trigger:hover {
  position: absolute;

  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
  color: #3a3a3a;
}
.trigger:active {
  position: absolute;
  top: 520px;
  left: 250px;
}

/*이미지 라벨*/

form {
  margin: 0 auto;
  width: 500px;
}
input,
textarea {
  width: 439px;
  height: 27px;
  background-color: #efefef;
  border-radius: 6px;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 3px;
  font-size: 0.9em;
  color: #3a3a3a;
}
input:focus,
textarea:focus {
  border: 1px solid #97d6eb;
}

textarea {
  height: 60px;
  background-color: #efefef;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.title {
  text-align: center;
  font-size: 40px;
  color: rgb(0, 0, 0);
}
.modal-content {
  position: absolute;
  top: 700px;
  left: 380px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.modal img {
  position: absolute;
  top: 150px;
}
.close-button {
  float: right;
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.info {
  position: relative;
  top: 10px;
  left: 250px;
  font-size: 15px;
  line-height: 25px;
}
.seasons {
  position: relative;
  top: 10px;
  left: 180px;
  font-size: 15px;
  line-height: 30px;
}

#submit {
  font-size: 25px;
  width: 127px;
  height: 48px;
  text-align: center;
  border: none;
  cursor: pointer;
}
#submit:hover {
  color: #fff;
  background-color: #216282;
  opacity: 0.9;
}
#cancel {
  font-size: 25px;
  width: 127px;
  height: 48px;
  text-align: center;
  border: none;

  cursor: pointer;
}
#cancel:hover {
  color: #fff;
  background-color: #216282;
  opacity: 0.9;
}
