
/*dateTime*/

.dateTime {
    position: relative;
    top: 80px;
    left: -95px;
    text-align: center;
    width: 800px;
    height: 200px;
    padding-top: 30px;
  }
  
  #time-result {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 70px;

  }
  #clock {
    color: white;
    font-size: 60px;
  }
  .greet {
    font-family: "Gothic A1", sans-serif;
    position: absolute;
    top: 270px;
    left: 10px;
    padding-top: 30px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }