@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Sans+KR|Noto+Serif+KR&display=swap');

/* 탭메뉴 */

.btC {
  background: transparent;
  border: none !important;
  font-size: 0;
  width: 180px;
  height: 80px;
}



/*상단 라벨*/
label.panel-label {
    border-top: 0.5px solid #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #000000;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
  }
  label.panel-label:hover {
    color: #0099ff;
  }
  #panels {
    background-color: #000000;
    box-shadow: 3px 3px 3px 3px rgba(110, 110, 110, 0.685);
  }
  #panels .container {
    margin: 0 auto;
    width: 1200px;
    height: fit-content;
  }
  #panels section header label.panel-label {
    padding: 12px 24px;
    box-sizing: border-box;
  }
  #panels section main {
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
    overflow-y: hidden;
  }
  
  #panel-1-ctrl:checked ~ #panels #panel-1 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
  }
  #panel-2-ctrl:checked ~ #panels #panel-2 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
  }
  #panel-3-ctrl:checked ~ #panels #panel-3 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
  }
  #panel-4-ctrl:checked ~ #panels #panel-4 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
  }
  #panel-5-ctrl:checked ~ #panels #panel-5 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
  }
  
  /* 선택했을때 눌러지는 효과*/
  
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1.last {
    border-right: 1px solid transparent;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 + li {
    border-left: 1px solid #ffffff;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    background-color: #000000;
    color: #f16b6f;
    padding-top: 24px;
  }
  #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
    height: 6px;
  }
  
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2.last {
    border-right: 1px solid transparent;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 + li {
    border-left: 1px solid #ffffff;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    background-color: #000000;
    color: #f16b6f;
    padding-top: 24px;
  }
  #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
    height: 6px;
  }
  
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3.last {
    border-right: 1px solid transparent;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 + li {
    border-left: 1px solid #ffffff;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    background-color: #000000;
    color: #f16b6f;
    padding-top: 24px;
  }
  #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
    height: 6px;
  }
  
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4.last {
    border-right: 1px solid transparent;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 + li {
    border-left: 1px solid #ffffff;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    background-color: #000000;
    color: #f16b6f;
    padding-top: 24px;
  }
  #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
    height: 6px;
  }
  
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-left: none;
    border-right: none;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5.last {
    border-right: 1px solid transparent;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 + li {
    border-left: 1px solid #ffffff;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label {
    background-color: #000000;
    color: #f16b6f;
    padding-top: 24px;
  }
  #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label::after {
    height: 6px;
  }
  
  ul#tabs-list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    margin: 0;
    padding: 0;
  }
  ul#tabs-list li {
    position: relative;
    display: flex;
    text-align: center;
    font-size: 30px;
    width: 180px;
    height: 70px;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
  ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
  }
  
  ul#tabs-list li label.panel-label {
    position: relative;
    padding: 24px 0;
    font-size: 0.875em;
  }
  ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    background-color: #f16b6f;
    height: 0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
  }
  ul#tabs-list li label.panel-label:hover {
    padding-top: 24px;
  }
  ul#tabs-list li label.panel-label:hover::after {
    height: 6px;
  }
  
  /* div gap 제거용*/
  .panel-radios {
    display: none;
  }