@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Noto+Sans+KR|Noto+Serif+KR&display=swap');

/*캘린더*/
.jzdbox1 {
    position: absolute;
    top: 180px;
    right: 25px;
    width: 380px;
    background: #332f2e;
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #201d1c;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .jzdcal {
    padding: 0 10px 10px 10px;
    box-sizing: border-box !important;
    background: #000000;
  }
  
  .jzdcalt {
    font: 20px "Roboto";
    font-weight: 700;
    color: #f7f3eb;
    display: block;
    margin: 18px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .jzdcal span {
    font: 15px "Roboto";
    font-weight: 400;
    color: #f7f3eb;
    text-align: center;
    width: 45px;
    height: 42px;
    display: inline-block;
    overflow: hidden;
    line-height: 40px;
  }
  
  .jzdcal .jzdb:before {
    opacity: 0.5;
    content: "o";
  }
  
  .circle {
    border: 1px solid #66ff00;
    box-sizing: border-box !important;
    border-radius: 200px !important;
  }
  .holiday {
    border: 1px solid #ff0000;
    box-sizing: border-box !important;
    border-radius: 180px !important;
  }
  
  span[data-title]:hover:after,
  div[data-title]:hover:after {
    font: 12px "Roboto";
    font-weight: 400;
    content: attr(data-title);
    position: absolute;
    margin: 0 0 100px;
    background: #282423;
    border: 1px solid #f7f3eb;
    color: #f7f3eb;
    padding: 5px;
    z-index: 9999;
    text-align: center;
    width: auto;
    min-width:100px; 
    max-width:150px;
  
  }