    <!--슬라이드 메뉴-->
    <input id="hamburger" type="checkbox" /><label for="hamburger">&equiv;</label>
    <nav id="menuNav">
      <header>메뉴</header>
      <ul>
        <li><a href="/">메인</a></li>
        <li><a href="test">옷 등록</a></li>
        <li><a href="closet">옷장</a></li>
        <li><a href="coordi">코디추천</a></li>
        <li><a href="glassesImg">안경갤러리</a></li>
        <li><a href="calenderFind">일정</a></li>
      </ul>
    </nav>